/* Desktop Donation Final 1 */

/*
position: relative;
width: 1138px;
height: 2606px;*/ /*

background: #474747;

/** Typography **/
h1{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;

/* or 100% */
    text-transform: uppercase;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
}

h3{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
/* or 100% */
    letter-spacing: -0.05em;
}

h4{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

/* large body text */
h5{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
}

/* body text */
h6{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

/* menu text
font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

menu text small
font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 24px;
*/

/* fine print
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 9px;
line-height: 12px; 
*/



/*-------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------Donation Styling (below)----------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------*/



/*.donationForm{
    display: grid;
    grid-template-rows: 4;
    grid-template-columns: 1;
    /*justify-content: ;*/
    /*grid-row-gap: 35px;
}*/

    .chooseAnAmount{
        /*---grid-row: 1;
        grid-column: 1;---
        /*^position in greater grid^*/
        display: grid;
        grid-template-rows: 4;
        grid-template-columns: 8;
        /*justify-content: ;*/
        /*padding-top: 4px;
        padding-bottom: 4px;*/
        height: 194px;
        width: 668px;
        /*grid-column-gap: ;
        padding-left: 234px;
        padding-right: 234px;
        */
        border: 1px solid #E2A800;
        box-sizing: border-box;
        border-radius: 0px;
    }

.spaceOne{
    height: 35px;
}

    .chooseAFrequency{
        /*---grid-row: 2;
        grid-column: 1;---
        /*^position in greater grid^*/
        display: grid;
        grid-template-rows: 34px, 50px;
        grid-template-columns: auto, auto, auto;
        justify-content: space-evenly;
        justify-items: center;
        grid-gap: 15px;
        padding: 10px;
        width: 668px;
        height: 126px;
        border: 1px solid #E2A800;
        box-sizing: border-box;
        border-radius: 0px;
    }

/*.spaceOne, 35px (this is a marker)*/

    .paymentInformation{
        /*---grid-row: 3;
        grid-column: 1;--
        /*^position in greater grid^*/
        /*overflow: hidden;*/
        display: grid;
        /*grid-template-rows: 1fr, 1fr, 1fr, 1fr;/*44px, 50px, auto*/
        grid-template-columns: 1fr, 2fr;/*290px, 290px*/
        justify-content: space-evenly;
        /*align-content: unset;
        /*grid-row-gap: 16px, 26px;*/
        /*grid-column-gap: 18px;*/
        /*padding-right: 40px;/* < < < get proper bottom padding px count*/
        padding-left: 45px;
        padding-right: 30px;
        padding-top: 12px;
        padding-bottom: 43px;/* < < < 43px ORIGINALLY*/
        width: 668px;
        height: 300px;/* < < < 300px ORIGINALLY*/
        border: 1px solid #E2A800;
        box-sizing: border-box;
        border-radius: 0px;
    }

    /*button.payPalButton{
        grid-column: 2 / 3;
        margin: 45px;
    }
    /*input, button{
        grid-column: 2 / 3;
    }*/

/*.spaceOne, 35px (this is a marker)*/

    .billingInformation{
        /*---grid-row: 4;
        grid-column: 1;--
        /*^position in greater grid^*/
        display: grid;
        grid-template-rows: 7;/*7*//*44px, auto, auto, auto, auto, auto, 174px*/
        grid-template-columns: 2;/*3*//*auto, auto, 190px*/
        grid-row-gap: unset;
        grid-column-gap: unset;
        justify-content: left;
        align-content: unset;
        /*align-content: ;*/
        padding-left: 35px;
        padding-bottom: 60px;
        /*padding-top: 12px;*/
        width: 668px;
        height: 677px;
        border: 1px solid #E2A800;
        box-sizing: border-box;
        border-radius: 0px;
    }




/*-------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------Donation Styling (END)------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------
---------------------------------------------------------------------------------------------------------------------------------
-------------------------------------------------------------------------------------------------------------------------------*/



    .h1Donation {
   /* position: absolute;
    width: 325px;
    height: 72px;
    left: 407px;
    top: 188px;*/
    
    /* H1 Overpass reg 36pt */
    
    font-family: Overpass;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    /* or 100% */
    
    text-align: center;
    text-transform: uppercase;
    
    /* AAYHF - Yellow #E2A800 */
    
    color: #E2A800;
}


/*.formStart{
   /* position: absolute;
    width: 668px;
    height: 194px;
    left: 234px;
    top: 742px;*/

/* AAYHF - Yellow #E2A800 */

    /*border: 1px solid #E2A800;
    box-sizing: border-box;
    border-radius: 0px;*/

/*.signUp form {
    margin: 35px auto;
    background-color: #f2f2f2;
    padding: 25px;
    border-radius: 7px;
  }*/


/* Billing Information */

/*.billingInformation {
    /*input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;*/
     /* }*/
/*position: absolute;
width: 668px;
height: 677px;
left: 235px;
top: 1424px;

AAYHF - Yellow #E2A800 

border: 1px solid #E2A800;
box-sizing: border-box;
border-radius: 0px;*/

/*.button {
font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 24px;

background: #474747;
}


/*footer*/

.sectiondivider {
    display: block;
    background-color:#E2A800;
    width: 100%;
    height: 46px;

}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertext {
    display: inline-block;
    padding: 20px;
    
}

#whatwedo {
    padding-bottom: 38px;
}

#getinvolved {
    padding-bottom: 38px;
}

.horizontalline {
    display: block;
    height: 1px;
    width: 50%;
    border: 0;
    border-top: 1px solid #E2A800;
    padding: 0;
    margin: auto;
    

}

.bottomtext {
    text-align: center;
}