body{
    background-color: #474747;
}

/* Color Palette 
AAYHF Yellow background: #E2A800;
AAYHF Dark Grey  background: #474747;
AAYHF Lite Grey background: #DBDBDB;
AAYHF Donate Greey background: #44C649; */

/** Typography **/
h1{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;

/* or 100% */
    text-transform: uppercase;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
}

h3{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
/* or 100% */
    letter-spacing: -0.05em;
}

h4{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

/* large body text */
h5{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
}

/* body text */
h6{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
}

/* menu text
font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

menu text small
font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 24px;
*/

/* fine print
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 9px;
line-height: 12px; 
*/

/*TOP NAV*/
.logo{
    position: sticky;
    top: -100px;
    left: -10px;
}
.topnav a{
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
      }

.donateMenuButton{
    
}
    
.topnav{
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    opacity: .75;
    width: 1413px;
    position: fixed;
    height: 100px;
    border-bottom: 1px solid #e2a800;
    z-index: 1;
}

/*HOME*/

.homesec{
    display: block;
    align-items: center;
    background-color: #E2A800;
    height: auto;
    left: -9.96px;
    top: 731.84px;
    color: #474747;
}

.sloganCard{
    position: relative;
    width: fit-content;
    height: fit-content;
    left: 38.93px;
    top: -690px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #E2A800;
    border-radius: 10px;
}

.sloganText{
    font-size: 24px;
    text-decoration:  white;
}


/*ABOUT US*/


.ourWork{
    position: relative;
    width: 258.33px;
    height: 226.48px;
    left: 38.93px;
    top: -600px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #E2A800;
    border-radius: 10px;
    color: #E2A800;
}

.workText{
    padding: 10px;
    font-family: 'Overpass', sans-serif;
    font-style: bold;
    font-weight: 700;
    font-size: 32px;
    line-height: .5px;
    color: #E2A800;
    margin-top: 20px;
}

.greyBox{
    display: flex;
    background-color: #DBDBDB;
}

.greyText{
    justify-content: space-between;
    padding: 10px;
}

#statistics{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 60%;
    align-items: start;
    justify-content: space-between;
    grid-column-gap: 20px;
    color: #E2A800;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    padding: 20px;
    text-align: center;
}

.stat2{
    color: #DBDBDB;
}
.stat3{
    color: #E2A800;
}

.ourTeam{
    display: flex;
    align-items: flex-start;
    color: #E2A800;
}

.w3-card{
    width: 160px;
    height: 240px;
    background-color: #DBDBDB;
    box-shadow: rgba(0, 0, 0, 0.7);
    padding: 30px;
    margin-left: 164px;
}
.ourTeam h1{
    background-color: #E2A800;
    height: 46px;
    padding: 10px;
}

/* Programs */


/* The Latest */

.secLatest{
    align-content: center;
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 600px;
 }
 .LatestCard {
     display: grid;
     grid-template-columns: 50% 50%;
     margin: 20px;
     width: 800px;
     padding: 10px 10px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     border-radius: 10px;
 }

 .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

 .container {
 padding: 2px 16px;
 }

 .latestPhoto{
     width: 25%;
 }


/* Programs */

#Programssec{
    display: block;
}

.sectiondivider {
    display: block;
    background-color: #E2A800;
    width: 100%;
    height: 46px;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: -0.05em;
}


.plus_minus {
    padding-left: 20px;
}


.pimg1 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


.smalldivider{
    display: block;
    background-color: #E2A800;
    width: auto;
    height: 24px;
    position: relative;
}


.selectionbox1 {
    position: absolute;
    right: 200px;
    top: 200px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-color: #E2A800;
    color: #E2A800;
    background-color: black;
}

.pimg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


.selectionbox2 {
    position: absolute;
    right: 300px;
    top: 200px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-color: #E2A800;
    color: #E2A800;
    background-color: black;
}

.pimg3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.selectionbox3 {
    position: absolute;
    left: 300px;
    top: 200px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-color: #E2A800;
    color: #E2A800;
    background-color: black;
}


/* contact */

.sectionContact{
    height: 46px;
}

.section h3{
    margin-left: 20px;
    margin-top: 12px;
}

.newsletter{
    color: #E2A800;
    display: grid;
    justify-content: center;
    align-items: center;
}

.newsletter h3{
    margin: 35px;
    margin-left: 30px;
}

.submit{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    margin: 30px auto 30px auto;
    width: 135px;
    height: 50px;
    border: 1px solid #E2A800;
    border-radius: 25px;
    color: #E2A800;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}

.contactInfo{
    margin-left: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    color: #E2A800;
    grid-template-areas: "h1 h1 h1"
    "ul ul map";
}
.contactInfo h1{
    grid-area: h1;
}
.contactInfo ul{
    list-style: none;
    grid-area: ul;
}
.map{
    grid-area: map;
}


.map{
    display: grid;
    color: #E2A800;
    justify-content: flex-end;
}

.form{
    display: grid;
    margin-left: 20px;
    color: white;
}


/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertext {
    display: inline-block;
    padding: 20px;
    
}

#whatwedo {
    padding-bottom: 38px;
}

#getinvolved {
    padding-bottom: 38px;
}

.footertext ul {
    color: #E2A800;
}

.footertext h3 {
    color: white;
}
.horizontalline {
    display: block;
    height: 1px;
    width: 50%;
    border: 0;
    border-top: 1px solid #E2A800;
    padding: 0;
    margin: auto;
    

}

.bottomtext {
    text-align: center;
    color: #E2A800;
}