body{
    background-color: #474747!important;
    margin: 0;
    padding: 0;
}

/* Color Palette 
AAYHF Yellow background: #E2A800;
AAYHF Dark Grey  background: #474747;
AAYHF Lite Grey background: #DBDBDB;
AAYHF Donate Greey background: #44C649; */

/** Typography **/
h1{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
}

h3{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
/* or 100% */
    letter-spacing: -0.05em;
}

h4{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

/* large body text */
h5{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
}

/* body text */
h6{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

/* menu text
font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

menu text small
font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 24px;
*/

/* fine print
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 9px;
line-height: 12px; 
*/


/*Bootstrap NAVBAR*/
.header {
   Height: 85px;
   position: fixed;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    bottom: 85px;   
    border-bottom: 1px solid #e2a800;
    text-align: center;

  }

.aayhLogo {
    height: 85px;
}

.nav-item {
    float: left;
    list-style: none;
    text-align: center;
    display: block;
    padding: 16pt;
}

.nav-link{
    float: left;
    padding: 16pt;
    text-align: center;
}

/*TOP NAV*/
.logo{
    position: sticky;
    top: -100px;
    left: -10px;
}
.topnav a{
        float: left;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
      }

.donateMenuButton{
    
}
    
.topnav{
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    opacity: .75;
    width: 1413px;
    position: fixed;
    height: 100px;
    border-bottom: 1px solid #e2a800;
    z-index: 1;
}

/*HOME*/
.section{
    display: block;
    margin: 0 auto;
}

#homesec{
    background-image: url("Images/Hero.png");    
    align-items: center;
    color: #474747;
    width: 100%;
    height: 700px;
}

.sloganCard{
    position: relative;
    display: block;
    width: fit-content;
    height: fit-content;
    text-align: center;
    text-transform: uppercase;
    color: #E2A800;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #E2A800;
    padding: 5px;
    margin-left: 20px;
    border-radius: 10px;    
    margin-top: -650px;
}

.SloganText{

    font-size: 32px;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 1px;
    text-transform: uppercase;
}
.yellow{
    color: #E2A800;
    font-size: 24pt;
    letter-spacing: 1.5pt;
}
.yellowlg{
    font-size: 60px;
    color: #E2A800;
    letter-spacing: 2px;
    line-height: -30pt;
}

.white{
    color: #FFFFFF;
    font-size: 24pt;
    letter-spacing: 1px;
}

.impactCard{
    position: relative;
    width: fit-content;
    text-align: right;
    text-transform: uppercase;
    color: #E2A800;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border: 1px solid #E2A800;
    margin-left: 550px;
    margin-right: 20px;
    border-radius: 10px;    
    margin-top: 300px;
}


/*ABOUT US*/
#aboutUSsec{
    display: grid;
    height: 783px;
}

.ourWork{
    position: relative;
    width: 258.33px;
    height: 226.48px;
    left: 38.93px;
    top: 100px;
    background-color: rgba(0, 0, 0, 0.7);
    border: 1px solid #E2A800;
    border-radius: 10px;
    color: #E2A800;
    padding: 5px;
}

.ourWork h5{
    padding: 5px;
}

.aboutWork{
    background: url(../images/yellowstudent.png);
    background-size: cover;
    height: 738px;
}

.greyBox{
    display: flex;
    background-color: #DBDBDB;
    padding: 5px;
}

.greyBox h5{
    justify-content: space-between;
    padding: 10px;
}

#statistics{
    display: grid;
    width: 100%;
    grid-template-columns: 25% 60%;
    align-items: start;
    justify-content: space-between;
    grid-column-gap: 20px;
    color: #E2A800;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    padding: 20px;
    text-align: center;
}

.stat2{
    color: #DBDBDB;
}
.stat3{
    color: #E2A800;
}

.teamBox{
    display: flex;
    margin-top: 80px;
    background-color: #E2A800;
    padding: 10px;
    height: 46px;
    width: 190px;
    align-items: center;
    color: white;
    rotate: 90deg;
    grid-area: team;
}

.cards{
    display: grid;
    grid-template-rows: "300px";
    grid-template-columns: "50px 200px 200px 200px 200px 200px";
    grid-template-areas: "team card1 card2 card3 card4 card5";
}

.w3-card{
    width: 160px;
    height: 240px;
    background-color: #DBDBDB;
    box-shadow: rgba(0, 0, 0, 0.7);
    color: #e2a800;
    text-align: center;
}
.card1{
    grid-area: card1;
}
.card2{
    grid-area: card2;
}
.card3{
    grid-area: card3;
}
.card4{
    grid-area: card4;
}
.card5{
    grid-area: card5;
}

.where{
    display: block;
    margin-top: 80px;
    color: #e2a800;
}
.where h6{
    position: relative;
    width: 255px;
    height: 30px;
    left: 580px;
    top: -320px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: #E2A800;
    padding: 5px;
    margin: 0;
}
.where img{
    display: block;
    margin: 0 auto;
    height: 411px;
}

/* The Latest */

#secLatest{
    align-content: center;
    margin-top: 1730px;
 }
 .LatestCard {
     display: grid;
     grid-template-columns: 50% 50%;
     margin: 20px;
     width: 800px;
     padding: 10px 10px;
     box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
     border-radius: 10px;
 }

 .card:hover {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }

 .container {
 padding: 2px 16px;
 }

 .latestPhoto{
     width: 25%;
 }


/* Programs */

#Programssec{
    display: block;
}

.sectiondivider {
    display: flex;
    align-items: center;
    background-color: #E2A800;
    width: 100%;
    height: 46px;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 46px;
    letter-spacing: -0.05em;
    text-indent: 25px;
}


.plus_minus {
    padding-left: 20px;
}


.pimg1 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}


.smalldivider{
    display: block;
    background-color: #E2A800;
    width: auto;
    height: 24px;
    position: relative;
}


.selectionbox1 {
    position: absolute;
    right: 200px;
    top: 200px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-color: #E2A800;
    color: #E2A800;
    background-color: black;
}

.pimg2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

form {
    max-width: 425px;
    margin: auto;
    padding: 20px;
    margin-top: 100px;

}
#myOverlay {
  height: 100;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(54, 54, 54, 0.8);
  top: 0;
  left: 0;
  color: #E2A800;

}

.closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 30px;
    cursor: pointer;
    color: white;

}

.row {
    display: inline-block;
    padding: 10px;
}


label {
    color: white;
  }

  input, select {
    border-style: solid;
    border-color: #E2A800;
  }

  input::placeholder {
    color: darkgrey;
  }

  input[type=text] {
      color: black;
  }

  input, select[type=text] {
    color: darkgray;
  }





.selectionbox2 {
    position: absolute;
    right: 300px;
    top: 200px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-color: #E2A800;
    color: #E2A800;
    background-color: black;
}

.pimg3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.selectionbox3 {
    position: absolute;
    left: 300px;
    top: 200px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: solid;
    border-color: #E2A800;
    color: #E2A800;
    background-color: black;
}


/* contact */
.form h3{
    margin-left: 20px;
    margin-top: 12px;
}

.newsletter{
    color: #E2A800;
    display: grid;
    justify-content: center;
    align-items: center;
}

.newsletter h3{
    margin: 35px;
    margin-left: 30px;
}

.submit{
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    margin: 30px auto 30px auto;
    width: 135px;
    height: 50px;
    border: 1px solid #E2A800;
    border-radius: 25px;
    color: #E2A800;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
}

.contactInfo{
    margin-left: 62px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px 1fr;
    color: #E2A800;
    grid-template-areas: "h1 h1 h1"
    "ul ul map";
}
.contactInfo h1{
    grid-area: h1;
}
.contactInfo ul{
    list-style: none;
    grid-area: ul;
}
.map{
    grid-area: map;
}

.map{
    display: grid;
    color: #E2A800;
    justify-content: flex-end;
}

.form{
    display: grid;
    color: white;
    grid-template-rows: 37px 107px 37px 107px 37px 207px 100px;
    grid-template-columns: 406px 406px;
    grid-template-areas: 
                    "nameText LnameText"
                    "nameBox LnameBox"
                    "emailText emailText"
                    "emailBox emailBox"
                    "msgText msgText"
                    "msgBox msgBox"
                    "formSubmit formSubmit";
    justify-content: center;
}

.name{
    width: 388px;
    height: 75px;
}

.emailBox{
    width: 812px;
    height: 75px;
}

.msgBox{
    width: 812px;
    height: 200px;
}

.nameText{
    grid-area: nameText;
}
.nameBox{
    grid-area: nameBox;
}
.LnameText{
    grid-area: LnameText;
}
.LnameBox{
    grid-area: LnameBox;
    margin-left: 12px;
}
.emailText{
    grid-area: emailText;
}
.emailBox{
    grid-area: emailBox;
}
.msgText{
    grid-area: msgText;
}
.msgBox{
    grid-area: msgBox;
}

.formSubmit{
    grid-area: formSubmit;
}

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertext {
    display: inline-block;
    padding: 20px;
    
}

#whatwedo {
    padding-bottom: 38px;
}

#getinvolved {
    padding-bottom: 38px;
}

.footertext ul {
    color: #E2A800;
}

.footertext h3 {
    color: white;
}
.horizontalline {
    display: block;
    height: 1px;
    width: 50%;
    border: 0;
    border-top: 1px solid #E2A800;
    padding: 0;
    margin: auto;
    

}

.bottomtext {
    text-align: center;
    color: #E2A800;
}

/* MEDIA QUERIES */
.smallHero{
    display: none;
}



@media only screen and (max-width:450px){
    .hero img{
        display: none;
    }

    .smallHero{
        display: block;
    }
}

@media only screen and (max-width:600px){
    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
    #whatwedo {
        padding-bottom: 0px;
    }
    
    #getinvolved {
        padding-bottom: 20px;
    }

    
    
    
}
