body{
    background-color: #474747!important;
    margin: 0;
    padding: 0;
}

/* Color Palette 
AAYHF Yellow background: #E2A800;
AAYHF Dark Grey  background: #474747;
AAYHF Lite Grey background: #DBDBDB;
AAYHF Donate Grey background: #44C649; */

/** Typography **/
h1{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #ffffff;
}

h2{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
}

h3{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
/* or 100% */
    letter-spacing: -0.05em;
}

h4{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
}

/* large body text */
h5{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
}

/* body text */
h6{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

/* receipt notification text */
h7{
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 24px;
    line-height: 24px;
    color: #e2a800;
}

h8{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 19px;
    text-decoration: underline;
    color: #e2a800;
}

/* menu text
font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;

menu text small
font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 24px;
*/

/* fine print
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 9px;
line-height: 12px; 
*/


/*Bootstrap NAVBAR*/
.header {
   Height: 85px;
}


.navbar {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    width: 100%;
    height: 85px;
    bottom: 85px;   
    border-bottom: 1px solid #e2a800;
    text-align: center;

  }

.aayhLogo {
    height: 85px;
}

.nav-item {
    float: left;
    list-style: none;
    text-align: center;
    display: block;
    padding: 16pt;
}

.nav-link{
    float: left;
    padding: 16pt;
}

/*TOP NAV*/
.logo{
    position: sticky;
    top: -100px;
    left: -10px;
}
.topnav a{
        float: left;
        color: #f2f2f2;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
      }

.donateMenuButton{
    
}
    
.topnav{
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    background-color: black;
    opacity: .75;
    width: 1413px;
    position: fixed;
    height: 100px;
    border-bottom: 1px solid #e2a800;
    z-index: 1;
}



/* THANKYOUFORYOURDONATION */

.donationThankYou{
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    margin-top: 245px;;
}
.thankYouCenter{
    text-align: center;
}
.receiptNotification{
    text-align: center;
}
.returnHome{
    text-align: center;
}

.image {
    background: url("https://i.imgur.com/t7aUCIw.jpg") no-repeat center center fixed;
    height: 100%;
    width: 100%;
    background-size: cover;
    opacity: 1;
    position:absolute;
  }
  .overlay {
    background-image: url("https://i.imgur.com/esoGQSU.gif");
    height: 100%;
    width: 100%;
    opacity: 0.06;
    background-repeat: repeat;
    position: absolute;
  }

/*footer*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertext {
    display: inline-block;
    padding: 20px;
    
}

#whatwedo {
    padding-bottom: 38px;
}

#getinvolved {
    padding-bottom: 38px;
}

.footertext ul {
    color: #E2A800;
}

.footertext h3 {
    color: white;
}
.horizontalline {
    display: block;
    height: 1px;
    width: 50%;
    border: 0;
    border-top: 1px solid #E2A800;
    padding: 0;
    margin: auto;
    

}

.bottomtext {
    text-align: center;
    color: #E2A800;
}

/* MEDIA QUERIES */

@media only screen and (max-width:450px){
    .hero img{
        display: none;
    }

    .smallHero{
        display: block;
    }